.custom-color {
    position: relative;
    appearance: none;
    outline: none;
    width: 50px;
    height: 30px;
    border: 1px solid;
    border-radius: 50px;
    transition-duration: 200ms;
}
.custom-color:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 26px;
    height: 26px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 200ms;
}
.custom-color:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);

}
.custom-color:disabled {
    cursor: not-allowed;
    background-color: #DADFE4;

}
.custom-color:disabled:checked {
    cursor: not-allowed;
    background-color: #ffffff;

}
.custom-color:disabled:after {
    box-shadow: none;
}
