.custom-color {
    position: relative;
    appearance: none !important;
    outline: none !important;
    width: 50px;
    height: 30px;
    border: 1px solid #DADFE4 !important;
    border-radius: 50px;
    transition-duration: 200ms;
}
.custom-color:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 26px;
    height: 26px;
    background-color: #ffffff !important;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2) !important;
    transition-duration: 200ms;
}
.custom-color:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05) !important;

}
.custom-color:disabled {
    cursor: not-allowed;
    color: #ccc !important;

}
.custom-color:disabled:checked {
    cursor: not-allowed;

}
.custom-color:disabled:after {
    box-shadow: none !important;
    color: #ccc !important;
    /*background-color: #ccc !important;*/

}
.custom-color:disabled:not(.checked) {
    box-shadow: none !important;
    color: #ccc !important;
    background-color: #ccc !important;

}
